<mat-toolbar color='primary' fxLayout="row" fxLayoutAlign="start center">
  <span fxFlex="1 1 auto">{{title}}</span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">
      <mat-icon>dialpad</mat-icon>
      <span>home</span>
    </button>
    <button mat-menu-item routerLink="/jquery">
      <mat-icon>voicemail</mat-icon>
      <span>jquery</span>
    </button>
    <button mat-menu-item routerLink="/angular">
      <mat-icon>notifications_on</mat-icon>
      <span>angular</span>
    </button>
  </mat-menu>

</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
