/*
Error: File to import not found or unreadable: ~@angular/material/theming.
        on line 1 of assets/styles/scss/_material.variables.scss
        from line 3 of assets/styles/app.scss
        from line 3 of styles.scss

1: /* You can add global styles to this file, and also import other style files *\/
2: @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
3: @import 'assets/styles/app';

Backtrace:
assets/styles/scss/_material.variables.scss:1
assets/styles/app.scss:3
styles.scss:3
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/import_node.rb:45:in `import'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/stack.rb:79:in `block in with_base'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/stack.rb:135:in `with_frame'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/stack.rb:79:in `with_base'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:329:in `map'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/stack.rb:88:in `block in with_import'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/stack.rb:135:in `with_frame'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/stack.rb:88:in `with_import'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/stack.rb:79:in `block in with_base'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/stack.rb:135:in `with_frame'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/stack.rb:79:in `with_base'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:329:in `map'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/stack.rb:88:in `block in with_import'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/stack.rb:135:in `with_frame'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/stack.rb:88:in `with_import'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/stack.rb:79:in `block in with_base'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/stack.rb:135:in `with_frame'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/stack.rb:79:in `with_base'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `each'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/exec/base.rb:52:in `parse'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/lib/sass/exec/base.rb:19:in `parse!'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/gems/sass-3.5.6/bin/scss:13:in `<top (required)>'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/bin/scss:23:in `load'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/bin/scss:23:in `<main>'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/bin/ruby_executable_hooks:15:in `eval'
/Users/hyungsoklee/.rvm/gems/ruby-2.2.3/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ~@angular/material/theming.\A         on line 1 of assets/styles/scss/_material.variables.scss\A         from line 3 of assets/styles/app.scss\A         from line 3 of styles.scss\A \A 1: /* You can add global styles to this file, and also import other style files */\A 2: @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';\A 3: @import 'assets/styles/app';"; }
